* {
  font-family: Arial, Helvetica, sans-serif;

}

hr {
  width: auto;
}

.retorna {
  padding-top: 15px;
}

.login{
  padding: 30px;
  align-content: center;
  background-color: #aab4de;
}

.register {
  padding-top: 50px;
  background-color: #aab4de;
  border-radius: 100;
}

.registerp {
  -ms-flex-align: center;
}